<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand mr-3" routerLink="/">
    <img src="/assets/images/che-guevara_256.png" class="hidden-xs-down" style="width:2rem; height: 2rem;" alt="Che4 logo - Che Guevara" />
    <span class="hidden-xs-down" l10nTranslate>Navbar::Che4</span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- cart-summary></cart-summary -->
        <a class="nav-link" routerLink="/bingsplash" l10nTranslate>Navbar::Bing splash</a>
      </li>
    </ul>
  </div>
  <lang-selector></lang-selector>
</nav>
